@import "bootstrap";

@import "variables/images";
@import "variables/colors";

@import "components/spacer";
@import "components/shadows";
@import "components/parallax";
@import "components/logo";
@import "components/carousel";
@import "components/main";
@import "components/hours-open-closed";

@import "layout/footer";

body{
    padding-top: 50px;

    min-height: 100vh;

    overflow-x: hidden;
}
