@import "bootstrap";

@import "variables/images";
@import "variables/colors";

@import "components/spacer";
@import "components/shadows";
@import "components/parallax";
@import "components/logo";
@import "components/carousel";
@import "components/main";
@import "components/hours-open-closed";

@import "layout/footer";

html{
    position: relative;
    min-height: 100%;
}

body{
    padding-top: 50px;
    margin-bottom: 30px;
    
    overflow-x: hidden;
}
